/* dsh_editproject.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

.home {
    padding: 15px;
    background-color: #333;
    text-align: center;
}

.home a {
    color: white;
    text-decoration: none;
}

.home a:hover {
    text-decoration: underline;
}

h2{
    color: #e41010;
    text-align: center;  
}
 h3 {
    color: #08e992;
    text-align: center;
}

.project_details {
    margin: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #333;
}

th, td {
    padding: 8px;
    text-align: left;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
